/* 

@media (max-width: 1180px) {
  #menu .food-type {
    margin-inline: 5rem;
  }

  #special-dish .right-dish .logo2,
  #menu1 .center-img {
    display: none;
  }

  #special-dish .right-dish {
    padding: 0 7rem 0 7rem;
  }

  #special-dish .right-dish .updown {
    top: 12rem;
    left: 2rem;
  }

  @keyframes up {
    0% {
      top: 10em;
    }
    50% {
      top: 16rem;
    }
    100% {
      top: 10rem;
    }
  }

  #menu1 .middle-box {
    padding-top: 5rem;
    padding-inline: 3rem;
  }

  #contact  .online-booking {
    width: 80%;
    left: 12rem;
  }
  
}

@media (max-width: 1070px) {
  #menu1 .middle-box {
    padding-top: 5rem;
    padding-inline: 0rem;
  }

  #menu1 .middle-box .left-menu .food-container {
    padding-inline: 4rem;
  }

  #contact .container {
    padding-inline: 15rem;
    padding-block: 7rem;
}

  #contact  .online-booking {
    width: 90%;
  
  }

  #contact  .online-booking .booking-box .left-box {
    padding: 8rem 4rem;
}
  
}

@media (max-width: 1040px) {
  #hero-section .contect-box {
    justify-content: center;
  }

  #hero-section .contect-box .left {
    display: none;
  }

  #menu .top-box .container {
    top: 0rem;
    padding: 8rem 0;
  }

  #menu .food-type {
    gap: 1rem;
    margin-inline: 3rem;

    flex-wrap: wrap;
    align-items: center;
  }

  #menu .food-type .food-box.middle-box {
    margin-top: 0rem;
  }

  #special-dish .right-dish {
    padding: 3rem 7rem 3rem 7rem;
  }

  #special-dish .right-dish .updown {
    top: 12rem;
    left: 2rem;
  }
}

@media (max-width: 935px) {
  #hero-section header .nav-bar {
    display: none;
  }

  #hero-section .rotate-logo .logo-box {
    margin-right: 5rem;
    padding-bottom: 3rem;
  }

  #menu .food-type {
    gap: 4rem;
    margin-inline: 3rem;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
  }

  #menu .side-image,
  #menu .right-image {
    display: none;
  }

  #menu1 .middle-box .left-menu .food-container {
    padding-inline: 2rem;
  }

  #menu1 .back-img {
    display: none;
    
  }

  #menu1 {
    padding-block: 8rem;
    
}
}

@media (max-width: 865px) {
  #special-dish {
    flex-direction: column;
  }

  #special-dish .left-dish {
    width: 100%;
  }

  #special-dish .left-dish img {
    width: 100%;
    height: auto;
  }

  #special-dish .right-dish {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 8rem;
  }

  #special-dish .right-dish .updown {
    left: 40rem;
    padding-top: 2rem;
  }
  @keyframes up {
    0% {
      top: 0rem;
    }
    50% {
      top: 0rem;
    }
    100% {
      top: 0rem;
    }
  }

  #menu1 {
    padding-block: 5rem;
  }

  #menu1 .middle-box {
    flex-direction: column;
    padding-inline: 5rem;
  }

  #menu1 .middle-box .middle-row .row {
    display: none;
  }

  #menu1 .bottom-box {
    margin-top: 1rem;
  }

}

@media (max-width: 700px) {
  #hero-section .rotate-logo .logo-box {
    margin-right: 2.2rem;
    padding-bottom: 2.2rem;
  }

} */

@media (max-width: 1190px) {
  #menu .food-type {
    padding-inline: 3rem;
  }

  #about .right-about {
    padding-left: 0rem;
  }

  #special-dish .right-dish {
    padding: 0 7rem 0 7rem;
  }
  #special-dish .right-dish .updown {
    left: 2rem;
  }

  #menu1 .middle-box {
    padding-inline: 0rem;
  }

  #menu1 .middle-row {
    display: none;
  }

  #menu1 .middle-box .left-menu .food-container {
    padding-inline: 3rem;
  }

  #about .right-about .main {
    width: 50rem;
  }
  #about .right-about .top-img .simple {
    right: 8rem;
  }

  #about .right-about .top-img .rotate-img {
    right: 8rem;
  }

  #about .right-about .side .side-image {
    position: absolute;
    bottom: 2rem;
    left: -5rem;
    z-index: 2;
  }

  #about .section-img {
    display: none;
  }

  #about .left-about {
    padding: 0 15rem;
  }
}

@media (max-width: 1020px) {
  #hero-section .contect-box {
    justify-content: center;
  }

  #hero-section .contect-box .left {
    display: none;
  }

  #menu .top-box .container {
    padding-block: 5rem;
    top: 0rem;
  }

  #menu .food-type .food-box.middle-box {
    margin-top: 3rem;
  }

  #menu .food-type {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #menu .food-type .food-box {
    margin-top: 3rem;
  }

  #menu1 .middle-box .left-menu .food-container {
    padding-inline: 2rem;
  }
  #detail-section .bottom-box .main-box {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
  }
  #detail-section .bottom-box .shape-8 {
    display: none;
  }

  .online-booking .booking-box .left-box {
    /* width: 65%; */
    padding: 8rem 1.5rem;
  }
  #contact .container {
    padding-inline: 20rem;
  }

  #about {
    padding: 15rem 0 10rem 0;
  }

  #about .left-about {
    padding: 0 10rem;
  }

  #about .right-about .main {
    width: 45rem;
  }

  #about .right-about .top-img .simple {
    right: 6rem;
  }

  #about .right-about .top-img .rotate-img {
    right: 6rem;
  }
}

/* ======== moblie screen ======= */
@media (max-width: 940px) {
  .mobile {
    display: flex;
  }

  #hero-section header.fixed .fa-circle-xmark {
    display: flex;
  }
  #hero-section {
    position: relative;
  }

  #hero-section header .nav-bar {
    position: fixed;
    padding-inline: 15rem;
    padding-top: 20rem;
    top: 0;
    left: -40rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;
    background-color: var(--smoky-black-1);
    height: 100%;
    z-index: 55;
    transition: all 0.2s linear;
  }

  .fa-circle-xmark {
    display: flex;
    font-size: 4rem;
    position: absolute;
    right: 3rem;
    top: 3rem;
    color: #fff;
    cursor: pointer;
  }
  .mobile {
    display: flex;
  }
  .mobile .fa-solid {
    font-size: 3rem;
    color: var(--gold-crayola);
  }

  .logo1 {
    display: flex;
    position: absolute;
    top: 10rem;
    left: 10rem;
  }
  /* .btn-table{
    display: none;
  } */

  #hero-section .rotate-logo .logo-box {
    margin-right: 3rem;
    padding-bottom: 3rem;
  }

  #menu .side-image,
  #menu .right-image {
    display: none;
  }

  #special-dish .right-dish {
    padding-block: 3rem;
  }

  #special-dish .right-dish .logo2,
  #menu1 .center-img {
    display: none;
  }

  #menu1 .back-img {
    display: none;
  }
  #menu1 {
    padding-block: 8rem;
  }

  #menu1 .middle-box {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5rem;
  }

  #menu1 .bottom-box {
    margin-top: 2rem;
  }

  #menu .food-type .food-box:hover .images-box .front {
    transform: inherit;
  }
  #detail-section .bottom-box .shape-8 {
    display: none;
  }
  #detail-section .bottom-box .main-box {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  #detail-section .bottom-box .main-box .box:hover img{
    transform: inherit;
  }

  #about {
    display: flex;
    flex-direction: column-reverse;
  }

  #about .right-about {
    width: 100%;
  }

  #about .right-about .main {
    width: 100%;
  }

  #about .left-about {
    width: 100%;
    padding: 2rem 2rem;
    text-align: start;
  }

  #about {
    background-color: var(--eerie-black-3);
    display: flex;
    padding: 8rem 0 5rem 0;
    position: relative;
  }

  #about .right-about .top-img .simple {
    right: 3rem;
  }

  #about .right-about .top-img .rotate-img {
    right: 3rem;
  }

  #about .right-about .side .side-image {
    position: absolute;
    bottom: -10rem;
    left: 60rem;
    z-index: 2;
  }

  
}

@media (max-width: 860px) {
  #special-dish {
    display: flex;
    flex-direction: column;
  }

  #special-dish .left-dish {
    width: 100%;
  }
  #special-dish .right-dish {
    width: 100%;
    padding: 3rem;
  }

  #special-dish .right-dish .updown {
    display: none;
  }

  .online-booking {
    width: 90%;
    /* margin: auto; */
  }

  .online-booking .booking-box {
    flex-direction: column;
  }

  .online-booking .booking-box .left-box {
    width: 100%;
    padding: 8rem 2rem;
  }

  .online-booking .booking-box .right-box {
    width: 100%;
  }

  #contact .container {
    padding-inline: 15rem;
    padding-block: 5rem;
  }

  #about .right-about .side .side-image {
    width: 20rem;
    bottom: -10rem;
    left: 55rem;
  }
}

@media (max-width: 760px) {
  #about .right-about .side .side-image {
    width: 15rem;
    bottom: -10rem;
    left: 50rem;
}
}


@media (max-width: 660px) {
  #menu1 .middle-box {
    padding-left: 2rem;
  }

  #contact .container {
    padding-inline: 10rem;
    padding-block: 5rem;
  }

  #contact .container h2 {
    margin-block: 3rem;
  }

  #about .right-about .side .side-image {
    display: none;
  }
}

@media (max-width: 530px) {
  #hero-section {
    padding-bottom: 5rem;
  }
  #hero-section .heading .box {
    display: none;
  }

  #hero-section .heading {
    padding-inline: 5rem;
  }

  #hero-section .rotate-logo .logo-box {
    display: none;
  }
  #menu1 .middle-box {
    padding-left: 0rem;
  }

  .online-booking .booking-box .left-box {
    padding: 8rem 1.2rem;
  }
  .online-booking .booking-box .left-box .form-box div {
    gap: 1rem;
  }
}

@media (max-width: 480px) {
  .icon {
    display: none;
  }

  .btn-table {
    display: none;
  }
  #special-dish .right-dish {
    width: 100%;
    padding: 1.5rem;
  }
  #menu1 .middle-box .left-menu .food-container {
    display: inherit;
    padding-top: 2rem;
    padding-inline: 1.5rem;
    border-bottom: 0.1rem solid var(--gold-crayola);
  }

  #menu1 .middle-box .left-menu .food-container .iteam-details {
    padding-top: 2rem;
  }
  #menu1 .bottom-box {
    margin-top: 4rem;
  }
  .online-booking {
    width: 95%;
  }

  .online-booking .booking-box .left-box .form-box div select,
  .online-booking .booking-box .left-box .form-box div input {
    padding: 2rem 1rem;
  }
}

@media (max-width: 370px) {
  #hero-section .contect-box .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  #event .bottom-box .inner-box img {
    width: 30rem;
  }

  #about .left-about {
    padding: 2rem 1.2rem;
  }

  #special-dish .right-dish {
    padding: 1.2rem;
  }

  #menu1 .middle-box .left-menu .food-container {
    padding-inline: 1.2rem;
  }

  #contact .container {
    padding-inline: 5rem;
    padding-block: 5rem;
  }
  .online-booking .booking-box .left-box .form-box div {
    flex-direction: column;
  }
  .online-booking .booking-box .left-box .form-box .person-box input {
    background-color: var(--eerie-black-3);
    padding: 2rem;
    width: 100%;
  }

  .online-booking .booking-box .left-box .form-box div select,
  .online-booking .booking-box .left-box .form-box div input {
    padding: 2rem;
    width: 100%;
  }

  #hero-section header .nav-bar {
    width: 100%;
    padding-inline: 10rem;
  }
}

@media (max-width: 370px) {
  #hero-section header {
    
    padding-inline: 2.5rem;
}
  #hero-section .heading {
    padding-inline: 2rem;
}
#menu .top-box .container p {
  padding-inline: 1.2rem;
  text-align: center;
}

#menu .food-type .food-box .images-box::before {
 
  left: 5rem;
  height: 35rem;
}

#menu1 .bottom-box h3 {
  padding-inline: 1.5rem;
}

#contact .container {
  padding-inline: 3rem;
  padding-block: 4rem;
}

#event .top-box {
  padding-top: 5rem;
}
#event .bottom-box {
  padding: 3rem 0;
}
#event .bottom-box .inner-box img {
  width: 25rem;
}
.online-booking .booking-box .left-box {
  padding: 4rem 1.2rem;
}

.online-booking .booking-box .right-box {
 
  padding-block: 4rem;
}

.online-booking .booking-box .right-box .address p {
  padding-inline: 0rem;
}

#online {
  padding-block: 0rem;
}

}