@media(max-width:1180px) {
    #menu .food-type {
        margin-inline: 5rem;
    }
}

@media(max-width:1040px){


    #hero-section .contect-box {
        justify-content: center;
    }

    #hero-section .contect-box .left{
        display: none;
    }

    #menu .top-box .container {
        top: 0rem;
        padding: 8rem 0;
    }

    #menu .food-type {
        gap: 1rem;
        margin-inline: 3rem;

        flex-wrap: wrap;
        align-items: center;
    }

    #menu .food-type .food-box.middle-box {
        margin-top: 0rem;
      }
}

@media(max-width:935px){
    #hero-section header .nav-bar {
        display: none;
    }

    #hero-section .rotate-logo .logo-box {
        margin-right: 5rem;
        padding-bottom: 3rem;
      }

      #menu .food-type {
        gap: 4rem;
        margin-inline: 3rem;
   justify-content:space-around;
        flex-wrap: wrap;
        align-items: center;
    }

    #menu .side-image,
    #menu .right-image {
        display: none;
    }


}

@media(max-width:700px){
    #hero-section .rotate-logo .logo-box {
        margin-right: 2.2rem;
        padding-bottom: 2.2rem;
      }

     
}