* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: var(--fontFamily-dm_sans); */
}

html {
  font-size: 62.5%;
}

:root {
  /**
     * COLORS
     */

  --gold-crayola: #e4c590;
  --quick-silver: #a6a6a6;
  --davys-grey: #595754;
  --smoky-black-1: #0e0d0b;
  --smoky-black-2: #0e0d0c;
  --smoky-black-3: #121111;
  --eerie-black-1: #161718;
  --eerie-black-2: #1b1c1d;
  --eerie-black-3: #141515;
  --eerie-black-4: #212121;
  --white: #ffffff;
  --white-alpha-20: #ffffff33;
  --white-alpha-10: #ffffff1a;
  --black: #000000;
  --black-alpha-80: #000000cc;
  --black-alpha-15: #00000026;

  /**
     * GRADIENT COLOR
     */

  --loading-text-gradient: linear-gradient(
    90deg,
    transparent 0% 16.66%,
    var(--smoky-black-3) 33.33% 50%,
    transparent 66.66% 75%
  );
  --gradient-1: linear-gradient(
    to top,
    hsla(0, 0%, 0%, 0.9),
    hsla(0, 0%, 0%, 0.7),
    transparent
  );

  /**
     * TYPOGRAPHY
     */

  /* font-family */
  --fontFamily-forum: "Forum", cursive;
  --fontFamily-dm_sans: "DM Sans", sans-serif;

  /* font-size */
  --fontSize-display-1: calc(1.3rem + 6.7vw);
  --fontSize-headline-1: calc(2rem + 2.5vw);
  --fontSize-headline-2: calc(1.3rem + 2.4vw);
  --fontSize-title-1: calc(1.6rem + 1.2vw);
  --fontSize-title-2: 2.2rem;
  --fontSize-title-3: 2.1rem;
  --fontSize-title-4: calc(1.6rem + 1.2vw);
  --fontSize-body-1: 2.4rem;
  --fontSize-body-2: 1.6rem;
  --fontSize-body-3: 1.8rem;
  --fontSize-body-4: 1.6rem;
  --fontSize-label-1: 1.4rem;
  --fontSize-label-2: 1.2rem;

  /* font-weight */
  --weight-regular: 400;
  --weight-bold: 700;

  /* line-height */
  --lineHeight-1: 1em;
  --lineHeight-2: 1.2em;
  --lineHeight-3: 1.5em;
  --lineHeight-4: 1.6em;
  --lineHeight-5: 1.85em;
  --lineHeight-6: 1.4em;

  /* letter-spacing */
  --letterSpacing-1: 0.15em;
  --letterSpacing-2: 0.4em;
  --letterSpacing-3: 0.2em;
  --letterSpacing-4: 0.3em;
  --letterSpacing-5: 3px;

  /**
     * SPACING
     */

  --section-space: 70px;

  /**
     * SHADOW
     */

  --shadow-1: 0px 0px 25px 0px hsla(0, 0%, 0%, 0.25);

  /**
     * BORDER RADIUS
     */

  --radius-24: 24px;
  --radius-circle: 50%;

  /**
     * TRANSITION
     */

  --transition-1: 250ms ease;
  --transition-2: 500ms ease;
  --transition-3: 1000ms ease;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.icon {
  width: 1rem;
  height: 1rem;
  border: 2px solid var(--gold-crayola);
  transform: rotate(45deg);
}

.btn {
  font-family: var(--fontFamily-dm_sans);
  border: 1px solid var(--gold-crayola);
  padding: 2rem 5rem;
  text-transform: capitalize;
  color: var(--black-alpha-80);
  background-color: var(--gold-crayola);
  font-size: var(--fontSize-label-1);
  letter-spacing: var(--letterSpacing-1);
  font-weight: var(--weight-bold);
  transition: var(--transition-1);
  position: relative;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--black);
  color: var(--white);
  transition: var(--transition-1);
}

/* ======= hero section ======= */
#hero-section {
  /* height: 120vh; */
  background-image: url(images/hero-slider-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#hero-section .contect-box {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 1px solid var(--white-alpha-20);
}

#hero-section .contect-box .left,
#hero-section .contect-box .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

#hero-section .contect-box .left p,
#hero-section .contect-box .right p {
  color: var(--white);
  font-family: var(--fontFamily-dm_sans);
  font-size: var(--fontSize-label-1);
}

#hero-section .contect-box .left p i,
#hero-section .contect-box .right p i {
  display: inline-block;
  padding-right: 0.8rem;
}

#hero-section header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
}

#hero-section header {
  margin-top: 4.5rem;
}

#hero-section header .nav-bar {
  display: flex;
  gap: 3rem;
}

#hero-section header .nav-bar li {
  position: relative;
  transition: var(--transition-1);
  cursor: pointer;
}

#hero-section header .nav-bar li a:hover,
#hero-section header .nav-bar li a.active {
  color: var(--gold-crayola);
}

#hero-section header .nav-bar li:hover:after {
  position: absolute;
  left: 0;
  bottom: -1.5rem;
  content: "";
  width: 100%;
  height: 0.02rem;
  background-color: var(--gold-crayola);
}

#hero-section header .nav-bar li:hover:before {
  position: absolute;
  bottom: -1rem;
  content: "";
  width: 100%;
  height: 0.02rem;
  background-color: var(--gold-crayola);
}

.active::before {
  position: absolute;
  bottom: -1rem;
  content: "";
  width: 100%;
  height: 0.02rem;
  background-color: var(--gold-crayola);
}
.active::after {
  position: absolute;
  left: 0;
  bottom: -1.5rem;
  content: "";
  width: 100%;
  height: 0.02rem;
  background-color: var(--gold-crayola);
}

#hero-section header .nav-bar li a {
  color: var(--white);
  font-family: var(--fontFamily-dm_sans);
  font-size: var(--fontSize-label-2);
  text-transform: uppercase;
  font-weight: var(--weight-bold);
  letter-spacing: var(--letterSpacing-1);
  transition: var(--transition-1);
}

#hero-section .container {
  text-align: center;
  margin-top: 10rem;
}

#hero-section .container p {
  color: var(--gold-crayola);
  font-family: var(--fontFamily-dm_sans);
  font-size: var(--fontSize-label-1);
  margin-bottom: 3rem;
  letter-spacing: var(--letterSpacing-2);
}

#hero-section .container img {
  width: 10rem;
}

#hero-section .heading {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  text-align: center;
  padding-inline: 3rem;
  margin-top: 3rem;
}

#hero-section .heading .box {
  width: 5rem;
  height: 5rem;
  border: 2px solid var(--gold-crayola);
  transform: rotate(45deg);
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: var(--transition-1);
}

#hero-section .heading .box:hover {
  background-color: var(--gold-crayola);
}

#hero-section .heading .box i {
  font-size: var(--fontSize-body-1);
  color: var(--gold-crayola);
  transform: rotate(-45deg);
}

#hero-section .heading .box:hover i {
  color: var(--black);
}

#hero-section .heading .title h1 {
  color: var(--white);
  font-size: var(--fontSize-display-1);
  font-weight: var(--weight-regular);
}

#hero-section .heading .title h2 {
  color: var(--white);
  font-size: var(--fontSize-body-2);
  font-weight: var(--weight-regular);
  margin-block: 2rem;
  font-family: var(--fontFamily-dm_sans);
}

#hero-section .button {
  text-align: center;
  margin-top: 5rem;
}

#hero-section .rotate-logo .logo-box {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 6rem;
  padding-bottom: 5rem;
}

#hero-section .rotate-logo .logo-box .main-rotate {
  width: 10rem;
  height: 10rem;
  border: 1px solid var(--gold-crayola);
  position: absolute;
  animation: rotateSquare 5s linear infinite;
}

@keyframes rotateSquare {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#hero-section .rotate-logo .logo-box .box {
  background-color: var(--gold-crayola);
  width: 10rem;
  height: 10rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

#hero-section .rotate-logo .logo-box .box img {
  width: 80%;
  /* height: auto; */
}

#hero-section .rotate-logo .logo-box p {
  margin-top: 0.5rem;
  font-size: var(--fontSize-label-1);
  letter-spacing: var(--letterSpacing-1);
  color: var(--black);
  text-transform: capitalize;
  font-family: var(--fontFamily-dm_sans);
  text-align: center;
}

/* ====== menu setion ======= */

#menu {
  background-color: var(--smoky-black-1);
  position: relative;
}

#menu .side-image {
  position: absolute;
  top: 5rem;
  right: 0;
  animation: upDown 2s infinite alternate;
}
@keyframes upDown {
  0% {
    top: 0;
  }
  100% {
    top: 20px;
  }
}

#menu .right-image {
  position: absolute;
  bottom: 0;
  animation: Down 2s infinite alternate;
}

@keyframes Down {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 20px;
  }
}

#menu .top-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#menu .top-box .container {
  position: relative;
  top: 8rem;
}

#menu .top-box .container h3 {
  color: var(--gold-crayola);
  font-size: var(--fontSize-label-1);
  letter-spacing: var(--letterSpacing-1);
  margin-bottom: 2rem;
  font-family: var(--fontFamily-dm_sans);
}

#menu .top-box .container img {
  width: 12rem;
}

#menu .top-box .container h2 {
  color: var(--white);
  font-size: var(--fontSize-headline-1);
  font-weight: var(--weight-regular);
  margin-block: 3rem;
}

#menu .top-box .container p {
  color: var(--white);
  font-size: var(--fontSize-label-1);
  text-align: center;
  line-height: var(--lineHeight-5);
  font-family: var(--fontFamily-dm_sans);
}

#menu .food-type {
  margin-inline: 15rem;
  padding-bottom: 5rem;
  display: flex;
  justify-content: space-between;
}

#menu .food-type .food-box {
  max-width: 300px;
  position: relative;
  cursor: pointer;
  height: 52rem;
}

#menu .food-type .food-box.middle-box {
  margin-top: 15rem;
}
#menu .food-type .food-box .images-box {
  position: relative;
  padding-block: 3rem;
}

#menu .food-type .food-box .images-box::before {
  content: "";
  background-image: url("images/form-pattern.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 7rem;
  width: 15rem;
  height: 41rem;
  background-color: var(--gold-crayola);
}

#menu .food-type .food-box .images-box .front {
  position: relative;
  width: 100%;
  z-index: 1;
  transition: var(--transition-2);
}

#menu .food-type .food-box:hover .images-box .front {
  transform: scale(1.1);
}

#menu .food-type .food-box .food-name {
  text-align: center;
}

#menu .food-type .food-box h2 {
  color: var(--white);
  font-size: var(--fontSize-title-1);
  font-weight: var(--weight-regular);
  margin-block: 3rem;
  text-transform: capitalize;
}

#menu .food-type .food-box h3 {
  font-size: var(--fontSize-label-1);
  color: var(--gold-crayola);
  font-family: var(--fontFamily-dm_sans);
  transition: var(--transition-1);
  text-transform: uppercase;
}

#menu .food-type .food-box h3:hover {
  color: var(--white);
}

/* ==== about section ===== */

#about {
  background-color: var(--eerie-black-3);
  display: flex;
  padding: 15rem 0 20rem 0;
  position: relative;
}

#about .section-img {
  position: absolute;
  bottom: 35rem;
  left: 0;
}

#about .left-about {
  width: 50%;
  padding: 0 18rem;
  text-align: center;
}

#about .left-about h3 {
  color: var(--gold-crayola);
  font-family: var(--fontFamily-dm_sans);
  font-size: var(--fontSize-label-1);
  letter-spacing: var(--letterSpacing-4);
  margin-bottom: 1.5rem;
}

#about .left-about .separator {
  width: 12rem;
}

#about .left-about h2 {
  font-size: var(--fontSize-headline-1);
  color: var(--white);
  margin-block: 2rem;
  line-height: var(--lineHeight-2);
}

#about .left-about p {
  color: var(--white);
  font-size: var(--fontSize-body-4);

  font-family: var(--fontFamily-dm_sans);
  line-height: var(--lineHeight-5);
  margin-bottom: 3rem;
}

#about .left-about span {
  color: var(--white);
  font-size: var(--fontSize-title-3);
  font-family: var(--fontFamily-dm_sans);
}

#about .left-about h4 {
  color: var(--gold-crayola);
  font-size: var(--fontSize-title-2);
  font-family: var(--fontFamily-dm_sans);
  margin: 1rem 0 3rem 0;
}
#about .right-about {
  width: 50%;
  padding-left: 3rem;
  position: relative;
}

/* #about .right-about .main{
  width: 70%;

} */
#about .movingImage {
  transition: transform 0.1s ease-out;
}

#about .right-about .side {
  transition: transform 0.1s ease-out;
}

#about .right-about .side .side-image {
  position: absolute;
  bottom: -6rem;
  left: -6rem;
  z-index: 2;
}

#about .right-about .side .inner-img {
  position: absolute;
  bottom: -11rem;
  left: 0rem;
  width: 15rem;
  height: 38rem;
  background-color: var(--gold-crayola);
  z-index: 1;
}

#about .right-about .top-img .simple {
  position: absolute;
  top: -6rem;
  right: 14rem;
}

#about .right-about .top-img .rotate-img {
  position: absolute;
  top: -6rem;
  right: 14rem;
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ======== special dish section ========== */
#special-dish {
  display: flex;
  background-color: var(--black);
}

#special-dish .left-dish {
  width: 50%;
}

#special-dish .left-dish img {
  width: 100%;
}

#special-dish .right-dish {
  width: 50%;
  padding: 0 15rem 0 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

#special-dish .right-dish h3 {
  color: var(--gold-crayola);
  font-family: var(--fontFamily-dm_sans);
  font-size: var(--fontSize-label-1);
  letter-spacing: var(--letterSpacing-4);
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

#special-dish .right-dish .separator {
  width: 12rem;
}

#special-dish .right-dish h2 {
  font-size: var(--fontSize-headline-1);
  color: var(--white);
  margin-block: 2rem;
  line-height: var(--lineHeight-2);
}

#special-dish .right-dish p {
  color: var(--white);
  font-size: var(--fontSize-body-4);

  font-family: var(--fontFamily-dm_sans);
  line-height: var(--lineHeight-5);
  margin-bottom: 3rem;
}

#special-dish .right-dish .price {
  color: var(--davys-grey);
  font-family: var(--fontFamily-dm_sans);
  font-size: var(--fontSize-title-3);
}

#special-dish .right-dish .price-less {
  color: var(--white);
  font-size: var(--fontSize-title-1);
  margin-left: 2rem;
  font-family: var(--fontFamily-dm_sans);
}

#special-dish .right-dish .btn {
  margin-top: 4rem;
  cursor: pointer;
}

#special-dish .right-dish .updown {
  position: absolute;
  top: 17rem;
  left: 10rem;
  animation: up 6s linear infinite;
}

@keyframes up {
  0% {
    top: 13rem;
  }
  50% {
    top: 18rem;
  }
  100% {
    top: 13rem;
  }
}

#special-dish .right-dish .logo2 {
  position: absolute;
  bottom: 15rem;
  right: 0;
}

/* ======== menu1 section ========== */
#menu1 {
  background-color: var(--eerie-black-3);
  padding-block: 13rem;
  position: relative;
}

#menu1 .center-img {
  position: absolute;
  top: -18rem;
  right: 0;
}

#menu1 .back-img {
  position: absolute;
  left: 0;
  bottom: 0;
  animation: back 2s infinite alternate;
}

@keyframes back {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 20px;
  }
}

#menu1 .top-box {
  text-align: center;
  position: relative;
  z-index: 1;
}

#menu1 .top-box h3 {
  color: var(--gold-crayola);
  font-family: var(--fontFamily-dm_sans);
  font-size: var(--fontSize-label-1);
  letter-spacing: var(--letterSpacing-4);
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

#menu1 .top-box .separator {
  width: 12rem;
}

#menu1 .top-box h2 {
  font-size: var(--fontSize-headline-1);
  color: var(--white);
  margin-block: 2rem;
  line-height: var(--lineHeight-2);
}

#menu1 .middle-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  margin-inline: 10rem;
  z-index: 1;
}

#menu1 .middle-box .left-menu .food-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 5rem;
  padding-inline: 7rem;
}

#menu1 .middle-box .left-menu .food-container .iteam-details div {
  display: flex;
  align-items: center;
  gap: 5rem;
}

#menu1 .middle-box .left-menu .food-container .iteam-details div span {
  color: var(--white);
  font-size: var(--fontSize-title-2);
  text-transform: capitalize;
}

#menu1 .middle-box .left-menu .food-container .iteam-details div .seasonal {
  display: inline-block;
  background-color: var(--gold-crayola);
  color: var(--black);
  font-size: var(--fontSize-label-1);
  text-transform: uppercase;
  font-family: var(--fontFamily-dm_sans);
  padding: 0.3rem 0.5rem;
  margin-left: -3rem;
}

#menu1 .middle-box .left-menu .food-container .iteam-details div .amount {
  color: var(--gold-crayola);
}

#menu1 .middle-box .left-menu .food-container .iteam-details p {
  color: var(--davys-grey);
  font-family: var(--fontFamily-dm_sans);
  font-size: var(--fontSize-label-1);
  margin-top: 1rem;
  line-height: var(--lineHeight-4);
  padding-right: 2rem;
}

#menu1 .middle-box .middle-row .row {
  width: 0.05rem;
  height: 100%;
  background-color: var(--white-alpha-10);
}

#menu1 .bottom-box {
  position: relative;
  z-index: 1;
  margin-top: 5rem;
  text-align: center;
}

#menu1 .bottom-box h3 {
  font-size: var(--fontSize-label-1);
  color: var(--white);
  margin-bottom: 3rem;
  text-transform: capitalize;
  font-family: var(--fontFamily-dm_sans);
}

#menu1 .bottom-box h3 span {
  color: var(--gold-crayola);
}

/* ====== contact section ====== */

#contact {
  background-image: url("images/testimonial-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 30rem;
  position: relative;
}

#contact .container {
  text-align: center;
  padding-inline: 30rem;
  padding-block: 10rem;
}

#contact .container i {
  font-size: var(--fontSize-title-2);
  color: var(--white);
}

#contact .container h2 {
  color: var(--white);
  font-size: var(--fontSize-headline-2);
  font-weight: var(--weight-regular);
  margin-block: 5rem;
}

#contact .container div {
  margin-bottom: 5rem;
}

#contact .container div span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--gold-crayola);
  animation: gol 10s linear infinite;
}

@keyframes gol {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#contact .container img {
  width: 10rem;
  height: 10rem;
  border-radius: 50rem;
}

#contact .container h3 {
  color: var(--gold-crayola);
  font-size: var(--fontSize-label-1);
  font-family: var(--fontFamily-dm_sans);
  text-transform: uppercase;
  margin-top: 1rem;
}


#contact  .online-booking {
  width: 80%;
  position: absolute;
  left: 14rem;
  bottom: -45rem;
}

#contact  .online-booking .booking-box {
display: flex;
  justify-content: space-between;
  background-color: var(--black);
}

#contact  .online-booking .booking-box .left-box {
width: 65%;
  padding: 8rem 6rem;
}

#contact  .online-booking .booking-box .left-box h2 {
  color: var(--white);
  font-size: var(--fontSize-headline-1);
  font-weight: var(--weight-regular);
  text-align: center;
  margin-bottom: 1rem;
}

#contact  .online-booking .booking-box .left-box p {
  color: var(--white);
  font-size: var(--fontSize-body-2);
  font-family: var(--fontFamily-dm_sans);
  text-align: center;
  margin-bottom: 5rem;
}

#contact  .online-booking .booking-box .left-box p span {
  color: var(--gold-crayola);
}

#contact  .online-booking .booking-box .left-box .form-box .person-box {
  width: 100%;
  display: flex;
  gap: 2rem;
}

#contact 
  .online-booking
  .booking-box
  .left-box
  .form-box
  .person-box
  input {
  background-color: var(--eerie-black-3);
  padding: 2rem;
  width: 50%;
  border: none;
}

#contact 
  .online-booking
  .booking-box
  .left-box
  .form-box
  .person-box
  input::placeholder {
  text-transform: capitalize;
  font-size: var(--fontSize-label-1);
  color: var(--white);
}

#contact 
  .online-booking
  .booking-box
  .left-box
  .form-box
  .person-box
  input:focus,
#contact  .online-booking .booking-box .left-box .form-box textarea:focus,
#contact 
  .online-booking
  .booking-box
  .left-box
  .form-box
  div
  select:focus,
#contact 
  .online-booking
  .booking-box
  .left-box
  .form-box
  div
  input:focus {
  outline: 1px solid var(--gold-crayola);
}

#contact  .online-booking .booking-box .left-box .form-box div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  border: none;
}

#contact  .online-booking .booking-box .left-box .form-box div select,
#contact  .online-booking .booking-box .left-box .form-box div input {
  background-color: var(--eerie-black-3);
  color: var(--white);
  padding: 2rem;
  width: 50%;
  border: none;
}

#contact  .online-booking .booking-box .left-box .form-box textarea {
  width: 100%;
  height: 15rem;
  margin-block: 2rem;
  padding: 2rem;
  font-size: var(--fontSize-body-4);
  background-color: var(--eerie-black-3);
  color: var(--white);
  resize: none;
  border: none;
}

#contact 
  .online-booking
  .booking-box
  .left-box
  .form-box
  textarea::placeholder {
  text-transform: capitalize;
  color: var(--white);
  font-family: var(--fontFamily-dm_sans);
}

#contact  .online-booking .booking-box .left-box .form-box .btn {
  width: 100%;
}

#contact  .online-booking .booking-box .right-box {
  width: 35%;
  background-image: url("images/form-pattern.png");
  text-align: center;
  color: var(--white);
  padding-block: 9rem;
}

#contact  .online-booking .booking-box .right-box h1{
  font-size: var(--fontSize-headline-1);
  font-weight: var(--weight-regular);
  margin-bottom: 5rem;
}

#contact  .online-booking .booking-box .right-box h3{
  font-size: var(--fontSize-body-3);
  font-family: var(--fontFamily-dm_sans);
}

#contact  .online-booking .booking-box .right-box h2{
  font-size: var(--fontSize-title-1);
  color: var(--gold-crayola);
  margin-top: 1rem;
}

#contact  .online-booking .booking-box .right-box span{
  margin-top: 3rem;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--gold-crayola);
  transform: rotate(45deg);
}

#contact  .online-booking .booking-box .right-box .address{
  margin-top: 3rem;
}

#contact  .online-booking .booking-box .right-box .address p{
  color: var(--quick-silver);
  font-size: var(--fontSize-body-4);
  font-family: var(--fontFamily-dm_sans);
  padding-inline: 5rem;
  font-weight: var(--weight-regular);
  margin-top: 1rem;
  line-height: var(--lineHeight-4);
}

/* ======== detail section ======== */

#detail-section{
  background-color: var(--eerie-black-1);
  padding-top: 55rem;
}

#detail-section .top-box{
  text-align: center;
}

#detail-section .top-box  h3 {
  color: var(--gold-crayola);
  font-size: var(--fontSize-label-1);
  letter-spacing: var(--letterSpacing-1);
  margin-bottom: 2rem;
  font-family: var(--fontFamily-dm_sans);
}

#detail-section .top-box  img {
  width: 12rem;
}

#detail-section .top-box  h2 {
  color: var(--white);
  font-size: var(--fontSize-headline-1);
  font-weight: var(--weight-regular);
  margin-block: 3rem;
}

#detail-section .bottom-box{
  padding-bottom: 8rem;
}

#detail-section .bottom-box .main-box{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}


#detail-section .bottom-box .main-box .box{
  background-color: var(--eerie-black-3);
  max-width: 250px;
}

#detail-section .bottom-box .main-box .box .image{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 2rem;
}

#detail-section .bottom-box .main-box .box .details{
  text-align: center;
}

#detail-section .bottom-box .main-box .box .details h2{
  color: var(--white);
  font-size: var(--fontSize-body-1);
  font-weight: var(--weight-regular);
}

#detail-section .bottom-box .main-box .box .details p{
  color: var(--quick-silver);
  font-size: var(--fontSize-body-2);
  font-family: var(--fontFamily-dm_sans);
  padding: 2rem 1.5rem 4rem 1.5rem;
}

